* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:root {
  --size: 100px;
  --markSize: calc(100px * 0.9);
}

body {
  font-weight: normal;
  font-size: 1rem;
  color: rgb(41, 41, 41);
  height: 100vh;
  position: relative;
}

.board {
  width: 500px;
  height: 500px;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
}

.cell {
  width: var(--size);
  height: var(--size);
  border: 1px solid black;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:first-child,
.cell:nth-child(4),
.cell:nth-child(7) {
  border-left: none;
}

.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9) {
  border-right: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
  border-bottom: none;
}

.cell.X,
.cell.O {
  cursor: not-allowed;
}

.cell.X::after,
.cell.X::before,
.cell.O::before {
  background-color: black;
}

.board.X .cell:not(.O):not(.X):hover::before,
.board.X .cell:not(.O):not(.X):hover::after {
  background-color: lightgray;
}

.cell.X::before,
.cell.X::after,
.board.X .cell:not(.O):not(.X):hover::before,
.board.X .cell:not(.O):not(.X):hover::after {
  content: '';
  width: calc(var(--markSize) * 0.14);
  height: var(--markSize);
  position: absolute;
}

.cell.X::before,
.board.X .cell:not(.O):not(.X):hover::before {
  transform: rotate(45deg);
}
.cell.X::after,
.board.X .cell:not(.O):not(.X):hover::after {
  transform: rotate(-45deg);
}

.cell.O::before,
.cell.O::after,
.board.O .cell:not(.O):not(.X):hover::before,
.board.O .cell:not(.O):not(.X):hover::after {
  content: '';
  border-radius: 50%;
  position: absolute;
}

.cell.O::before,
.board.O .cell:not(.O):not(.X):hover::before {
  width: var(--markSize);
  height: var(--markSize);
}

.cell.O::after,
.board.O .cell:not(.O):not(.X):hover::after {
  width: calc(var(--markSize) * 0.7);
  height: calc(var(--markSize) * 0.7);
  background-color: white;
}

.board.O .cell:not(.O):not(.X):hover::before {
  background-color: lightgray;
}
